html {
  scroll-behavior: smooth;
}
body {
  background-image:url('{{template "sample.jpg" .}}');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
}
